.operation-page-wrap{
  display: flex;
  height: 100%;
  width: 100%;
}

.content-section{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  .page-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .canvas-image {
      height: 480px;
    }

    .content-wrap{
      display: flex;
      flex: 1;
      border-top: 1px solid #E5E5E5;

      .point-wrap{
        flex: 1;
      }
    }
  }
}

.control-wrap {
  width: 565px;
  border-left: 1px solid #E5E5E5;
  background-color: #F0F1F5;
}