.canvas-image {
  background: url('/static/images/source/temp_map.png');
  height: 480px;
}

.content-wrap{
  display: flex;
  flex: 1;
  border-top: 1px solid #E5E5E5;

  .point-wrap{
    flex: 1;
  }
}

