@import '../../../styles/variables.scss';

.canvas-image {
  background: url('/static/images/source/temp_map.png');
  height: 48%;
}

.content-wrap{
  display: flex;
  flex: 1;
  border-top: 1px solid $border-color;
  overflow:hidden;

  .point-wrap{
    flex: 1;
  }
}

