.point-edit-pannel-wrap {
  display: flex;
  width: 100%;

  input {
    font-size: 1em;
    padding: .5em;
    border: none;
    border-radius: 2em;
    width: 7em;
  }

  .edit-pannel-left {
    width: 40%;
    padding: 3%;

    .point-edit-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 0;

      input {
        width: 8em;
        margin-right: 1em;
      }

      span {
        margin: 0 1em;
      }
    }

    .point-pose-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .point-pose {
        width: 80%;
        margin: .5em 0;
        padding: .7em 1em;

        ul {
          display: flex;
          justify-content: space-evenly;

          li {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              width: 30%;
              padding: 0;
              text-align: center;
            }

            input {
              width: 100%;
              flex: 1;
              text-align: center;
            }
          }
        }

        span {
          padding: 0 .5em;
        }
      }
    }
  }

  .edit-pannel-right {
    flex: 1;
    padding: 3%;

    .edit-pannel {
      width: 320px;
      height: 320px;
      // transform: scale(.93);
    }
  }
}