.point-edit-pannel-wrap{
  align-items: center;
  background-color: rgba(240,241,245, .8);
  width: 100%;
  height: 100%;

  .point-edit-header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  }

  .point-edit-icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .point-pose-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .point-pose{
      width: 60%;
      margin: .5em 0;
      ul {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .point-control-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2em auto;

    h3{
      padding: 1em 0;
    }
  }

  .btn-wrap{
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}
