.icon {
  display: inline-block;
}

.icon_info{
  background: url('/static/images/ico/icon_info.png');
  width: 32px;
  height: 32px;
}

.icon_battery{
  background: url('/static/images/ico/icon_battery.png');
  width: 40px;
  height: 30px;
  padding: 7px 10px 8px 6px;
  .range{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #A7AEC9;
    @for $i from 1 to 100 {
      &.range-#{$i} {
        width: $i#{"%"};
      }
    }
  }
    
}

.icon_star{
  width: 20px;
  height: 20px;
  background: url('/static/images/ico/icon_star_off.png');

  &.on{
    background: url('/static/images/ico/icon_star_on.png');
  }
}

.icon_calendar {
  width: 18px;
  height: 18px;
  background: url('/static/images/ico/icon_calendar.png');
}

.icon_time {
  width: 18px;
  height: 18px;
  background: url('/static/images/ico/icon_time.png');
}

.icon_status_logo {
  width: 38px;
  height: 38px;
  background: url('/static/images/source/robot_status_logo.png') no-repeat;
  margin-right: 20px;
}


.icon_menu {
  width: 50px;
  height: 50px;
  background-image: url('/static/images/ico/icon_menu.png');
}
