@import '../../../styles/variables.scss';

.control-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 35%;
  // width: 29.4vw;
  max-width: 640px;

  height: 100%;
  border-left: 1px solid $border-color;
  background-color: #F0F1F5;
}