@import '../../../styles/variables.scss';

.robot-status-wrap {
  padding: 63px 83px;
  width: 100%;
}

.robot-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5em 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .10) 1px 1px 5px;
  font-size: 1.2em;

  li {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #7E7E7E;

    &:first-child {
      border-right: 2px solid $border-color;
    }
  }

  .status-info {
    color: #222222
  }
}