@import '../../../styles/variables.scss';

.page-wrap{
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.content-wrap{
  width: 100%;
  height: 100%;
  background: #F0F1F5;
  font-size: 1.2em;


  .list-wrap {
    width: 80%;
    margin: 0 auto;
    font-weight: bold;

    li{
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-color;
      & > div{
        width: 20%;
        padding: 1em;
        &:nth-child(2){
          width: 50%;
        }

        & > input {
          width: 60%;
        }
      }
    }
  }
}