.robot-status-bar-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  width: 100%;
  border-top: 1px solid #CACFE4;
  color: #6a6e7e;
  font-size: 1em;
  padding: 1em 0;

  ul {
    display: flex;
    align-items: center;
    height: 100%;
    li {
      border-right: 1px solid #CACFE4;
      padding: 0 1em;
      height: 100%;
      line-height: 100%;

      &.operating{ color: #21d521; }

      &.offline{ color:#ff6565; }

      &.charging{ color:#a7a701; }

      &:last-child {
        border-right: none;
      }
    }
  }
}