@import '../../../styles/variables.scss';

.schedule-wrap {
  display: flex;
  flex-direction: column;

  .schedule-title {}

  .schedule-list {
    flex: 1;
    padding: 0 2.8em;
    margin: 0 auto;
    overflow: auto;

    li {
      width: 200px;
      padding: 1em 0;

      .schedule-btn {
        text-align: left;
        width: 100%;
        min-width: 100px;
      }
    }

  }
}