@import '../../../styles/variables.scss';

.schedule-wrap{
  display: flex;
  flex-direction: column;

  .schedule-title {
    text-align: left;
    padding-left:2.8em;
  }

  .schedule-list {
    flex: 1;
    padding: 0 2.8em;
    li{      
      padding: 1em 0;

      .schedule-btn{
        text-align: left;
        width: 100%;
        min-width: 100px;
      }
    }

  }
}
