.robot-play-control-wrap{
  display: flex;
  justify-content: space-between;
  width: 400px;

  .button {
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0,0,0, .1) 5px 5px 20px;
  }
}
