.robot-play-control-wrap{
  display: flex;
  grid-template-columns: repeat(3,  1fr);
  justify-items: center;
  width: 100%;
  padding: 0 1em;
  li{
    display: flex;
    justify-content: center;
    padding:1em;
    flex: 1;
  }

  img {
    width: 100%;
  }
  .button {
    width: 100px;
    height: 100px;
    // padding-top: 100%;
    // height: auto;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0,0,0, .1) 5px 5px 20px;
  }
}
