@import '../../../styles/variables.scss';


.robot-list-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  .robot-list-header{
    display: flex;
    font-size: 1em;
    align-items: center;
    
    li {
      padding: 1em 0;
      flex: 1;
      text-align: center;
    }
  }

  .robot-list-content{
    width: 100%;
    font-size: 1em;
    li {
      display: flex;
      background-color: white;
      border-top: 1px solid $border-color;
      padding: 1em 0;
      text-align: center;
      div {
        flex: 1;
      }
    }
  }
}

.robot-table-wrap{
  width: 100%;

  thead  {
    tr:first-child {
      width: 100%;
      font-size: 1.3em;
      text-align: center;
      border-bottom: 1px solid #d8d8d8;
      background-color: #FDFDFD;      

      th{
        padding: 0.6em 0;
      }
    }

    tr:nth-child(2){
      
      th {
        padding: 0.6em;
      }
    }
  }

  tbody {
    td {
      margin: 0;
      padding: 1em 0;
      text-align: center;
    }
  }
}