@import '../../../styles/variables.scss';

.button {
  display: inline-block;
  cursor: pointer;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .0);
  text-decoration: none;
  border: none;
}

.default {
  min-width: 100px;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  color: #222222;
  background-color: white;
  border-radius: 1.0em;
  box-shadow: rgba(0, 0, 0, .20) 1px 1px 5px;
}

.grey {
  min-width: 100px;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  color: #222222;
  background-color: gainsboro;
  border-radius: 1.2em;
  box-shadow: rgba(0, 0, 0, .20) 1px 1px 5px;
}

.primary {
  min-width: 100px;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  color: white;
  background: $gradiant-col;
  border-radius: 1.2em;
  box-shadow: rgba(0, 0, 0, .20) 1px 1px 5px;
}

.undo,
.redo,
.circle {
  width: 2.3em;
  height: 2.3em;
  font-size: 1.2em;
  color: #C4C4C4;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-start,
.scan-end,
.big-circle {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  box-shadow: 1px 3px 7px rgba(165, 126, 126, 0.25);
}

.scan-start {
  background-size: 3em, 100%;
  background-image: url('/static/images/btn/btn_scan_start.png');

  &.on {
    background-image: url('/static/images/btn/btn_scan_start_on.png'), $gradiant-row;
  }
}

.scan-end {
  background-size: 3em, 100%;
  background-image: url('/static/images/btn/btn_scan_end.png');

  &.on {
    background-image: url('/static/images/btn/btn_scan_end_on.png'), $gradiant-row;
  }
}

.gradiant-col {
  min-width: 100px;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  color: white;
  background: $gradiant-col;
  border-radius: 1.0em;
  box-shadow: rgba(0, 0, 0, .20) 1px 1px 5px;
}

.logo {
  width: 70px;
  height: 70px;
  background-image: url('/static/images/btn/btn_logo.png');
}

.operation {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_operation.png');

  &.on {
    background-image: url('/static/images/btn/btn_operation_on.png');
  }
}

.point {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_point.png');

  &.on {
    background-image: url('/static/images/btn/btn_point_on.png');
  }
}

.map {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_map.png');

  &.on {
    background-image: url('/static/images/btn/btn_map_on.png');
  }
}

.setting {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_setting.png');

  &.on {
    background-image: url('/static/images/btn/btn_setting_on.png');
  }
}

.log {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_log.png');

  &.on {
    background-image: url('/static/images/btn/btn_log_on.png');
  }
}

.stop {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_stop.png');

  &.on {
    background-image: url('/static/images/btn/btn_stop_on.png');
  }
}

.start {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_start.png');

  &.on {
    background-image: url('/static/images/btn/btn_start_on.png');
  }
}

.pause {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/btn/btn_pause.png');

  &.on {
    background-image: url('/static/images/btn/btn_pause_on.png');
  }
}

.undo {
  background-image: url('/static/images/btn/btn_undo.png');
}

.redo {
  background-image: url('/static/images/btn/btn_redo.png');
}

.position-control {
  width: 32px;
  height: 36px;
  background-image: url('/static/images/btn/btn_position_control.png');

  &:active,
  &.on {
    background-image: url('/static/images/btn/btn_position_control_on.png');
  }
}

.position-control-neg {
  width: 19.68px;
  height: 66.68px;
  background-image: url('/static/images/btn/btn_position_control_left.png');

  &:active,
  &.on {
    background-image: url('/static/images/btn/btn_position_control_left_on.png');
  }
}

.position-control-pos {
  width: 19.68px;
  height: 66.68px;
  background-image: url('/static/images/btn/btn_position_control_right.png');

  &:active,
  &.on {
    background-image: url('/static/images/btn/btn_position_control_right_on.png');
  }
}

.edit {
  width: 25px;
  height: 25px;
  background-image: url('/static/images/btn/btn_edit.png');
}










// TEMPORARY
.joystick {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/source/btn_temp1.png');
  background-size: 70px;

  &:active,
  &.on {
    background-image: url('/static/images/source/btn_temp1_on.png');
    background-size: 150px;
  }
}

.people {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/source/btn_temp2.png');
  background-size: 70px;

  &:active,
  &.on {
    background-image: url('/static/images/source/btn_temp2_on.png');
    background-size: 150px;
  }
}

.line {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/source/btn_temp3.png');
  background-size: 70px;

  &:active,
  &.on {
    background-image: url('/static/images/source/btn_temp3_on.png');
    background-size: 150px;
  }
}

.navigation {
  width: 120px;
  height: 120px;
  background-image: url('/static/images/source/btn_temp4.png');
  background-size: 70px;

  &:active,
  &.on {
    background-image: url('/static/images/source/btn_temp4_on.png');
    background-size: 150px;
  }
}