@import '../styles/responsive.scss';

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../static/fonts/NotoSansKR-Medium.otf');
}

* {
  box-sizing: border-box;
  user-select: none;
}

#root,
html,
body {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
  background-color: black;
}


html,
button {
  color: #222222;
  font-size: 18px;
  font-family: 'Roboto', 'Noto Sans KR';
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}