@import '../../../styles/variables.scss';

.aside-wrap {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  text-align: center;
  background: $gradiant-row;

  .logo-wrap {
    padding: 1.5em 0;
  }


  .menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    margin-top: 40px;

    a {
      width: 100%;
      height: 100%;
    }

    li {
      cursor: pointer;
      width: 80%;
      padding: .7em 0;
      margin: .5em;
      color: rgba(255,255,255,.5);
      font-size: 1.3em;
      background-color: #5b53b7;

      &.active{
        background-color: #44a2f3;
        color: white;
      }
    }

    .menu-btn {
      width: 120px;
      height: 120px;
    }
  }

  .info-wrap {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 1em 0;

    ul {
      display: inline-block;
    }

    li {
      display: flex;
      align-items: center;
      font-size: 1em;
      color: white;

      &:first-child {
        margin-bottom: .5em;
      }

      .icon {
        margin-right: .5em;
      }
    }
  }

}