.page-wrapper {
  display: flex;
  width: 1920px;
  height: 1200px;
  // width: 100vw;
  // height: 56.25vw;
  // max-height: 100vh;
  // max-width: 177.78vh;
  overflow:hidden;
  margin: 0 auto;
  background-color: white;
  transform-origin: left top;

  .aside {
    width: 9%;
  }
  .content {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
  }
}

@media screen and (max-width: 1600px), screen and (max-height: 1000px){ 
  .page-wrapper {
    transform: scale(.83);
  }
}

@media screen and (max-width: 1366px), screen and (max-height: 853.75px){ 
  .page-wrapper {
    transform: scale(.71);
  }
}

@media screen and (max-width: 1280px), screen and (max-height: 800px){ 
  .page-wrapper {
    transform: scale(.66);
  }
}

@media screen and (max-width: 1096px), screen and (max-height: 685px){ 
  .page-wrapper {
    transform: scale(.57);
  }
}

@media screen and (max-width: 960px), screen and (max-height: 600px){ 
  .page-wrapper {
    transform: scale(.5);
  }
}

