.page-wrapper {
  display: flex;
  height: 1200px;
  // width: 100vw;
  // height: 56.25vw;
  // max-height: 100vh;
  // max-width: 177.78vh;
  overflow: hidden;
  margin: 0 auto;
  background-color: white;
  // transform: translateX(-50%) translateY(-50%);
  // transform-origin: 0 0%;
  // position: absolute;
  // left: 50%;
  // top: 50%;

  .aside {
    width: 9%;
  }

  .content {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
  }
}

