@import '../../../styles/variables.scss';

.checkbox-wrapper {
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.hidden {
  display: none;
}

.hide-input {
  display: none;
}

.ico-checkbox {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #E4E6ED;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: .6em;
  background-position: center;
  background-size: 100%;

  &.checked {
    background-image: url('/static/images/btn/btn_check.png'), $gradiant-row;
  }

  &.disabled {
    background-color: black;

    &.checked {
      background-image: url('/static/images/btn/btn_check.png');
    }
  }
}